body {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

a {
  color: #3da2f4;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed rgba(61,166,244, 0.5);
}

a:hover {
  border-bottom-color: rgba(61,166,244,1);
}

nav {
  background-color: #f8f8f8;
  padding: 1rem;
}

nav a {
  color: #333;
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  border-bottom: none;
}

nav a.current {
  color: #3da2f4;
}

button {
  border: 1px solid #eee;
  background-color: #f8f8f8;
  color: #333;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  padding: .5rem;
  overflow: auto;
}

hr {
  height: 1px;
  display: block;
  border: none;
  background-color: #eee;
}

.pusher {

}

.pusher > section {
  padding: 1rem;
}

form {

}

form input[type=text],
form input[type=password],
form input[type=date],
form input[type=number] {
  padding: 10px;
  margin: 10px 0;
}
